{{/*
    This CC is a snippet help search a given element x in sorted array. The array must be ascending.
    The array input is $arr. Lenght of array is $length. Element need to search is $element

    Made by Alikuxac#4177
*/}}

{{ $arr := cslice 2 5 6 7 9 10 15 }}
{{ $element := 15 }}
{{ $length := len $arr }}
{{ $data := sdict "Found" true "List" $arr "Left" 0 "Right" (sub $length 1) "Value" $element }}
{{ block "binary_search" $data}}
{{- $list := .List -}}{{- $left := .Left -}}{{- $right := .Right -}}{{- $value := .Value -}}
{{- if .Found -}}
    {{- if ge $right 1 -}}
        {{- $mid := (div (add $left $right) 2) | toInt -}}
        {{- if eq (index $list $mid) $value -}}
            {{- .Set "Result" $mid -}}{{- .Set "Found" false -}}
        {{- end -}}
        {{- if gt (index $list $mid) $value -}}
            {{- .Set "Right" (sub $mid 1) -}}{{- template "binary_search" . -}}
        {{- else -}}
            {{- .Set "Left" (add $mid 1) -}}{{- template "binary_search" . -}}
        {{- end -}}
    {{else}}
        {{- .Set "Result" -1 -}}{{- .Set "Found" false -}}
    {{end}} 
{{ end }}
{{ end }}
{{ $data = $data.Get "Result" }}
Array: {{ $arr }}
Element: {{ $element }}
{{ if eq $data -1 }}
Result: Not present
{{ else }}
Result: Element found at index {{ $data }}
{{ end }}