{{/*
	Example of manually parsing into a .CmdArgs like slice from text.
*/}}

{{/* Let $text be the text. */}}
{{ $text := .StrippedMsg }}

{{ $regex := `\x60(.*?)\x60|"(.*?)"|[^\s]+` }}
{{ $clean := cslice }}
{{ range reFindAllSubmatches $regex $text }}
	{{- $clean = $clean.Append (or (index . 2) (index . 1) (index . 0)) -}}
{{ end }}

{{ $cmdArgs := $clean.StringSlice }}