{{/*
	Chooses an item from the ones provided.
	See <https://yagpdb-cc.github.io/fun/choose> for more information.

	Author: jo3-l <https://github.com/jo3-l>
*/}}

{{ if .CmdArgs }}
	{{ .User.Mention }}, I choose **{{ index .CmdArgs (randInt (len .CmdArgs)) }}**!
{{ else }}
	Please provide some items for me to choose: for example, `-choose "go to sleep" "stay awake" no`.
{{ end }}
