{{/*
	Sets up the confessions commands and creates the confession button in the channel it's ran in.

	See <https://github.com/yagpdb-cc/yagpdb-cc/tree/master/Website/docs/confessions.md>

	Author: creature.features on Discord, <creature-features on Git https://github.com/creature-features>
*/}}

{{/* Configuration values */}}
{{$DBID := (toInt64 1)}}	{{/* This is the database UserID, set it to something you don't use */}}
{{$RequiredPerms := "ManageServer"}}	{{/* This is the permission to check for ban actions */}}
{{$ModalPromptPrefix := "modalprompt-"}} 	{{/* This should match the Component Custom ID Regex of modal_prompt.go.tmpl */}}
{{$ModalDigestPrefix := "modaldigest-"}} 	{{/* This should match the Component Custom ID Regex of modal_digest.go.tmpl */}}
{{/* End of configuration values */}}

{{$config := sdict 
	"DBID" $DBID
	"RequiredPerms" $RequiredPerms
	"ModalPromptPrefix" $ModalPromptPrefix
	"modalDigestPrefix" $ModalDigestPrefix
}}
{{$config := (dbGet 0 "confessConfig").Value}}
{{$DBID := $config.DBID}}
{{$perms := $config.RequiredPerms}}
{{$ppfx := $config.ModalPromptPrefix}}
{{$dpfx := $config.modalDigestPrefix}}


{{dbSet 0 "confessConfig" $config}}
{{$perms := $config.RequiredPerms}}
{{if (in (split (index (split (exec "viewperms") "\n") 2) ", ") $perms )}}
	{{$btn1 := cbutton "label" "Submit a confession!" "custom_id" "modalprompt-confessSubmit"}}
	{{$message := complexMessage "buttons" (cslice $btn1)}}
	{{$msgID := sendMessageRetID nil $message}}
{{else}}
	{{$warnMsg := sendMessageRetID nil (complexMessage "content" "You lack the required permissions to use this command." "allowed_mentions" (sdict "replied_user" true) "reply" .Message.ID )}}
	{{deleteMessage .Channel.ID $warnMsg 5}}
	{{deleteTrigger}}
{{end}}