{{/*
	Handles button presses that generate modals

	See <https://github.com/yagpdb-cc/yagpdb-cc/tree/master/Website/docs/confessions.md>

	Author: creature.features on Discord, <creature-features on Git https://github.com/creature-features>
*/}}

{{$config := (dbGet 0 "confessConfig").Value}}
{{$DBID := $config.DBID}}
{{$perms := $config.RequiredPerms}}
{{$ppfx := $config.ModalPromptPrefix}}
{{$dpfx := $config.modalDigestPrefix}}

{{$authorBanned := false}}
{{$userBanned := false}}

{{$userHash := hash (toString .User.ID)}}
{{$authorHash := ((dbGet $DBID "confessions").Value.Get (toString .Message.ID)).UserHash}}

{{$bannedUsersDB := (dbGetPattern 1 "confessBan::%" 100 0)}}
{{$bannedUsers := cslice}}
{{range $bannedUsersDB}}
	{{$bannedUsers = $bannedUsers.Append (index (split .Key "confessBan::") 1)}}
{{end}}

{{if in $bannedUsers $authorHash}}
	{{$authorBanned = true}}
{{end}}

{{if in $bannedUsers $userHash}}
	{{$userBanned = true}}
{{end}}

{{if (not $userBanned)}}
	{{if eq .StrippedID "confessSubmit"}}
		{{$modal := cmodal
			"title" "Submit a Confession"
			"custom_id" (print $dpfx "confessSubmit")
			"fields" (cslice (sdict "label" "Confession Content" "min_length" 1 "style" 2 "required" true))
	}}
		{{sendModal $modal}}
	{{else if eq .StrippedID "confessReply"}}
		{{$modal := cmodal
			"title" "Submit a Confession"
			"custom_id" (print $dpfx "confessReply")
			"fields" (cslice (sdict "label" "Confession Content" "min_length" 1 "style" 2 "required" true))}}
		{{sendModal $modal}}
	{{else if eq .StrippedID "confessReplyThread"}}
		{{$modal := cmodal
			"title" "Submit a Confession"
			"custom_id" (print $dpfx "confessReplyThread")
			"fields" (cslice (sdict "label" "Confession Content" "min_length" 1 "style" 2 "required" true))}}
		{{sendModal $modal}}
	{{else if eq .StrippedID "confessBanConfirm"}}
		{{if (in (split (index (split (exec "viewperms") "\n") 2) ", ") "ManageServer")}}
			{{$modal := cmodal
				"title" "Confirm ban?"
				"custom_id" (print $dpfx "confessBan")
				"fields" (cslice (sdict "label" "Days" "value" "3" "required" true))
			}}
			{{sendModal $modal}}
		{{else}}
			{{sendResponse nil (complexMessage "content" "You lack the permissons required to ban users from Confessions." "ephemeral" true)}}
		{{end}}
	{{else if eq .StrippedID "confessBan"}}
		{{dbSet $DBID (print "confessBan::" $authorHash) .UnixEpox}}
		{{sendResponse nil (complexMessage "content" (print "User " $authorHash "has been banned.") "ephemeral" true)}}
	{{end}}
{{else}}
	{{$banInfoRaw := dbGet $DBID (print "confessBan::" $userHash)}}
	{{$banInfo := $banInfoRaw.Value}}
	{{$msg := complexMessage "content" (print "A confession you made on	<t:" $banInfoRaw.CreatedAt.Unix ":F> was banned by a moderator. You are banned from making confessions for " $banInfo.Duration " days. They don't know who they banned, so your identity is still secret.\r\n\r\nBan ends <t:" $banInfoRaw.ExpiresAt.Unix ":F>" ) "ephemeral" true}}
	{{sendResponse nil $msg}}
{{end}}