{{/*
	Gets the display colour for the current member.
	See <LINK> for more information.

	Author: buthed010203 <https://github.com/buthed010203>
*/}}

{{$col := 16777215}}
{{$p := 0}}
{{$r := .Member.Roles}}
{{range .Guild.Roles}}
	{{- if and (in $r .ID) (.Color) (lt $p .Position)}}
		{{- $p = .Position}}
		{{- $col = .Color}}
	{{- end -}}
{{end}}
