{{/*
    Removes the repeated letters in a text like 'byyeeee' => 'bye'
    Useful to add it in another more complex commands.

    Author: Faculord <https://github.com/LattandiFacundo>
*/}}

{{ $toFix := "oooooooooooopppppppppppssssssss"}}
{{ $exception := "o"}} {{/*Would keep two repeated characters if they matches the exception*/}}

{{ $splitted := split $toFix "" }}
{{ $before := "" }} {{ $fixed := "" }} {{ $remaining := 0 }}

{{ range $e := $splitted }}
	{{- if ne $before $e }}
		{{- if eq $e $exception }}
			{{- $remaining = 2 }} 
			{{- $fixed = print $fixed $e }} {{/*Print one now and one in the other iteration*/}}
		{{- else }}
			{{- $fixed = print $fixed $e }}
		{{- end }}
	{{- else if and (eq $e $exception) (eq $remaining 1) }} {{/*If in the befores iteration left an exception and matches now, print*/}}
		{{- $fixed = print $fixed $e }}
	{{- end }}
	{{- $before = $e }}
	{{- $remaining = sub $remaining 1 }}
{{ end }}
{{ $toFix = $fixed }}
