{{/*
    Removes the repeated letters in a text like 'byyeeee' => 'bye'
    Useful to add it in another more complex commands.

    Author: Faculord <https://github.com/LattandiFacundo>
*/}}

{{ $toFix := "Sentence here"}}

{{ $splitted := split $toFix "" }}
{{ $before := "" }}
{{ $fixed := "" }}
{{ range $e := $splited }}
	{{- /* If $e (Actual letter) not equals $before, add it  */}}
	{{- if ne $e $before }}
		{{- $fixed = print $fixed $e }}
	{{- end }}
	{{- $before = $e -}}
{{ end }}
{{ $toFix = $fixed }}
