{{/*
    Removes the repeated letters in a text like 'byyeeee' => 'bye'
    Useful to add it in another more complex commands.

    Author: Faculord <https://github.com/LattandiFacundo>
*/}}

{{ $toFix := .StrippedMsg}}

{{ $splited := split $toFix "" }}
{{ $before := "" }}
{{ $fixed := "" }}
{{- range $i, $e := $splited -}}
	{{/* If $e (Actual letter) not equals $before, add it  */}}
	{{ if ne $e $before }}
		{{ $fixed = joinStr ""  $fixed $e }}
	{{ end }}
	{{ $before = $e }}
{{- end -}}
{{ $toFix = $fixed }}

{{ $toFix }}