{{/*
    Removes the repeated letters in a text like 'byyeeee' => 'bye'
    Useful to add it in another more complex commands.

    Author: Faculord <https://github.com/LattandiFacundo>
*/}}

{{/*Configuration variables*/}}
{{ $toFix := "ooooooppppppppppppppppppppsssssssssssssssssss"}}
{{ $exceptions := dict
"o" 3
"p" 2
}}
{{ $defaultThreshold := 1 }}
{{/*End of configuration variables*/}}

{{ $splitted := split $toFix "" }}
{{ $before := "" }} {{ $fixed := "" }} {{ $remaining := 0 }} {{ $catchedException := false }}

{{ range $e := $splitted }}
	{{ range $exception, $ignoreMe := $exceptions}}
		{{- if and (ne $before $e) (eq $e $exception) }}
			{{- $remaining = (toInt ($exceptions.Get $e)) }}
			{{- $fixed = print $fixed $e }}
			{{- $catchedException = true }}
		{{- else if and (eq $e $exception) (ge $remaining 1) }}
			{{- $fixed = print $fixed $e }}
			{{- $catchedException = true }}
		{{- else if ne $before $e}}
			{{- $catchedException = false }}
		{{- end }}
	{{- end }}

	{{- if and (ne $before $e) (eq $catchedException false) }}
		{{ if gt $defaultThreshold 0}}
			{{- $fixed = print $fixed $e }}
			{{- $remaining = $defaultThreshold }}
		{{ end }}
	{{- else if and (ge $remaining 1) (eq $catchedException false) }}
		{{- $fixed = print $fixed $e }}
	{{- end }}

	{{- $before = $e }}
	{{- $remaining = sub $remaining 1 }}
{{ end }}
{{ $toFix = $fixed }}
