{{/*
    Removes the repeated letters in a text like 'byyeeee' => 'bye'
    Useful to add it in another more complex commands.

    Author: Faculord <https://github.com/LattandiFacundo>
*/}}

{{ $toFix := "oooooooooooopppppppppppssssssss"}}
{{ $exception := "o"}} {{/*Would keep two repeated characters if they matches the exception*/}}

{{ $splitted := split $toFix "" }}
{{ $before := "" }} {{ $fixed := "" }} {{ $remaining := 0 }}

{{ range $e := $splitted }}
	{{- if lt $remaining 1 }}
		{{- if ne $e $before }}
			{{- if eq $e $exception }}
				{{- $remaining = 2 }} {{/* After subtraction would be 1 and skip the next characters*/}}
				{{- $fixed = print $fixed $e $e }} {{/* Print two characters */}}
			{{- else }}
				{{- $remaining = 1 }} {{/* Would be 0 and skip nothing*/}}
				{{- $fixed = print $fixed $e }}
			{{- end }}
		{{- end }}
	{{- $before = $e -}}
	{{- end }}
	{{- $remaining = sub $remaining 1 }}
{{ end }}
{{ $toFix = $fixed }}
