{{/*
	Sorts an array/slice of numbers descending or ascending in place.
	See <https://yagpdb-cc.github.io/code-snippets/selection-sort> for more information.

	Author: jo3-l <https://github.com/jo3-l>
*/}}

{{/* Let $arr be the array/slice to sort. */}}
{{ $arr := cslice 1 38 -1 83 -4 5 1 0 }}

{{ $len := len $arr }}
{{ range seq 0 $len }}
	{{- $min := . }}
	{{- range seq (add . 1) $len }}
		{{- if lt (index $arr $min) (index $arr .) }} {{- $min = . }} {{- end -}}
	{{- end }}
	{{- if ne $min . }}
		{{- $ := index $arr . }}
		{{- $arr.Set . (index $arr $min) }}
		{{- $arr.Set $min $ }}
	{{- end -}}
{{ end }}
