{{/*
	Extracts the time that a given Discord snowflake was created.
	See <LINK> for more information.

	Author: jo3-l <https://github.com/jo3-l>
*/}}

{{/* Let $snowflake be the ID. */}}
{{ $snowflake := .User.ID }}

{{/* snowflake >> 22 can be evaluated as snowflake / 2 ^ 22. 2 ^ 22 is 4194304. */}}
{{ $time := div $snowflake 4194304 }}

{{/* Multiply by 10^6 to convert milliseconds to nanoseconds */}}
{{ $time = mult $time 1000000 }}

{{/* Convert to duration so we can pass it as an argument to time.Add, which expects a duration and returns a time */}}
{{ $time = toDuration $time }}

{{ $time := .DiscordEpoch.Add $time }}
