{{/*
    Trigger: raid
    Trigger Type: Command

    About: This part of the code provides the Admin commands. All commands are preceeded by `-raid <action>` Actions include: `ban`, `kick`, `clear`

    Created by: ENGINEER15 - https://github.com/engineer152/
    Last Update: 4/13/2021
*/}}

{{$q := cslice}}
{{with (dbGet 0 "raidlist").Value}}
  {{$q = $q.AppendSlice .}}
{{end}}
{{$nq := cslice}}
{{range $i, $e := $q}}
  {{if $i}}
    {{$nq = $nq.Append $e}}
  {{end}}
{{end}}

{{$t := ""}}
{{with .CmdArgs}}
  {{$t = index . 0}}
{{end}}

{{$embed := sdict 
  "title" " 🛡 RAID GUARD"
  "description" "*Initializing in 3...*"
  "color" 14232643
  "thumbnail" (sdict "url" "https://cdn.discordapp.com/emojis/714051544265392229.gif")}}

{{with .ExecData}}
  {{$embed = sdict .Embed}}
  {{$data := sdict .}}
  {{$thumb := ""}}
  {{$msgs := cslice}}
  {{$title := cslice}}
  {{if $q}}
    {{$user := ""}}
    {{with (index $q 0)}}
      {{$user = .}}
    {{end}}
    {{if eq .Command "kick"}}
      {{$k := execAdmin "kick" $user.ID "For being part of a RAID"}}
    {{else if eq .Command "ban"}}
      {{$k := execAdmin "ban" $user.ID "For being part of a RAID"}}
    {{end}}
    {{if $nq}}
      {{$title = $title.Append "👢 REMOVING ALL RAID MEMBERS"}}
      {{$msgs = $msgs.Append (print "Currently Removing: " $user.Username)}}
      {{$thumb = "https://cdn.discordapp.com/emojis/714051544265392229.gif"}}
      {{dbSet 0 "raidlist" $nq}}
      {{execCC $.CCID .ChannelID 2 $data}}
    {{else}}
      {{$title = $title.Append "**✅ COMPLETE**"}}
      {{$msgs = $msgs.Append (print "ALL " .Qlen " RAIDERS HAVE BEEN REMOVED.\n\nYour server has been protected by **🛡 RAID GUARD.**")}}
      {{$thumb = "https://i.ibb.co/2n8pzH0/1f6e1.png"}}
      {{dbDel 0 "raidlist"}}
    {{end}}
  {{else}}
    {{$thumb = "https://i.ibb.co/2n8pzH0/1f6e1.png"}}
    {{$title = $title.Append "\n"}}
    {{$msgs = $msgs.Append "❌ THE RAIDLIST IS EMPTY\n\nNo RAID has happened recently. 👍"}}
  {{end}}
  {{$embed.Set "title" (joinStr "\n" $title.StringSlice)}}
  {{$embed.Set "description" (joinStr "\n" $msgs.StringSlice)}}
  {{$embed.Set "thumbnail" (sdict "url" (print $thumb))}}
  {{editMessage .ChannelID .MsgID (cembed $embed)}}
{{else}}
  {{if eq $t "clear"}}
    {{dbDel 0 "raidlist"}}
    {{sendMessage nil (cembed "title" "✅ COMPLETE" "description" "🧹 RAID LIST HAS NOW BEEN CLEARED" "color" 14232643)}}
  {{else if eq $t "kick" "ban"}}
    {{$qlen := 0}}
    {{with (dbGet 0 "raidlist").Value}}
      {{$qlen = len .}}
    {{end}}
    {{$initial := sendMessageRetID nil (cembed $embed)}}
    {{execCC .CCID .Channel.ID 3 (sdict
      "Embed" $embed
      "MsgID" $initial
      "ChannelID" .Channel.ID
      "Qlen" $qlen
      "Command" $t)}}
  {{end}}
{{end}}
