{{/*
	Creates a ticket owned by the user who sent it and with the message as the reason, and deletes the original message.
	
	See <https://yagpdb-cc.github.io/utilities/ticket-channel>


	Author: user.exe (mrhappyma) <https://github.com/mrhappyma>
*/}}

{{createTicket nil .Message.Content}}
Ticket created
{{deleteTrigger 0}}
{{deleteResponse 0}}
