{{/*
    This handy-dandy custom command-bundle allows a user to cancel their most recent report and utilizes
    Reactions to make things easier for staff.
    This custom command manages and takes care of the cancellation requests.

    Usage: `-cr <Message:ID> <Key:Text> <Reason:Text>`
    
    Recommended Trigger type and trigger: Regex trigger with trigger `\A-c(ancel)?r(eport)?(\s+|\z)`

    Created by: Olde7325 <https://github.com/Olde7325>
*/}}

{{/*ACTUAL CODE*/}}
{{$p := index (reFindAllSubmatches `.*?: \x60(.*)\x60\z` (execAdmin "prefix")) 0 1}}
{{$Escaped_Prefix := reReplace `[\.\[\]\-\?\!\\\*\{\}\(\)\|]` $p `\${0}`}}
{{if not (reFind (print `\A` $Escaped_Prefix `|<@!?204255221017214977>`) .Message.Content)}}
{{$response:= sendMessageRetID nil "Did not set regex to match Server Prefix!"}}{{deleteTrigger}}
{{deleteMessage nil $response}}{{else}}
{{if not (ge (len .CmdArgs) 3)}}
    ```{{.Cmd}} <Message:ID> <Key:Text> <Reason:Text>```
    Not enough arguments passed.
{{else}}
    {{$s := sdict (dbGet 2000 "reportSettings").Value}}
    {{$rL := (toInt64 $s.reportLog)}}
    {{$rID := ((index .CmdArgs 0)|toInt64)}}
    {{$r := index (getMessage $rL $rID).Embeds 0|structToSdict}}
    {{range $k, $v := $r}}
        {{if eq (kindOf $v true) "struct"}}
            {{$r.Set $k (structToSdict $v)}}
        {{end}}
    {{end}}
    {{$user := index (reFindAllSubmatches `\A<@!?(\d{17,19})>` $r.Description) 0 1|toInt|userArg}}
    {{$userKey := (dbGet .User.ID "key").Value|str}}
    {{if eq $user.ID .User.ID}}
            {{if eq "used" $userKey}}
                {{$response := sendMessageRetID nil "Your latest report was already cancelled!"}}
                {{deleteMessage nil $response}}
            {{else}}
            {{if eq (index .CmdArgs 1|str) $userKey}}
                {{if ge (len .CmdArgs) 3}}
                    {{$reason := joinStr " " (slice .CmdArgs 2)}}
                    {{with $r}}
                        {{.Set "Author" (sdict "name" (printf "%s (ID %d)" $user.String $user.ID) "icon_url" ($user.AvatarURL "256"))}}
                        {{.Footer.Set "Icon_URL" .Footer.IconURL}}
                        {{.Set "description" (print .Description (printf "\nCancellation of this report was requested. \n Reason: `%s`" $reason))}}
                        {{.Set "color" 16711935}}
                        {{.Set "Fields" ((cslice).AppendSlice .Fields)}}{{.Fields.Set 5 (sdict "name" "Reaction Menu Options" "value" (printf "Deny request with 🚫, accept with ✅, or request more information with ⚠️."))}}
                    {{end}}
                    {{editMessage $rL $rID (complexMessageEdit "embed" $r)}}
                    Cancellation requested, have a nice day!
                    {{deleteAllMessageReactions $rL $rID}}
                    {{addMessageReactions $rL $rID "🚫" "✅" "⚠️"}}
                    {{dbSet .User.ID "key" "used"}}
                {{end}}
            {{else}}
                {{$response := sendMessageRetID nil "Invalid key provided!"}}
                {{deleteMessage nil $response}}
            {{end}}
        {{end}}
        {{else}}
            {{$response := sendMessageRetID nil "You are not the author of this report!"}}
            {{deleteMessage nil $response}}
    {{end}}
{{end}}{{end}}