{{/*
	This command sends your CC(s) code in a text file, rather than "plain" Discord messages, preserving Tabs, markdown, etc. 
	You can especify more than one ID or trigger, and bot will generate one file per input parameter. If none are provided, output will be CC list
	
	Usage: `-cc2file <ID or Trigger> [ID or Trigger] [ID or Trigger]...`. For example: `-cc2file 10 "test" 23`
	Recommended trigger: Command trigger with trigger `cc2file`.
	Configuration variables: None
*/}}


{{range .CmdArgs}}
	{{- $exec_cc_Answer:= exec "cc" .}}
	{{- $answerLines:= split $exec_cc_Answer "\n"}}

	{{- $extractedCode:= slice $answerLines 2 (sub (len $answerLines) 1)}}
	{{- $firstLine:= index $answerLines 0}}

	{{- if reFind "here is a list of" $firstLine}}
		{{- sendMessage nil (printf "❌ CC `%s` not found" .)}}
	{{- else}}
		{{- sendMessage nil (complexMessage
			"content" $firstLine
			"file" (joinStr "\n" $extractedCode)
		)}}
	{{- end}}
{{else}}
	{{exec "cc"}}
{{end}}
