{{/*
	This command sends your CC code in a text file, rather than "plain" Discord messages, preserving Tabs, markdown, etc. 
	If input ID is invalid (i.e. CC doesn't exist), bot will send a message listing all CCs (usual `-cc` output)
	
	Usage: `-cc2file <ID_of_CC>`. For example: `-cc2file 10`
	Recommended trigger: Command trigger with trigger `cc2file`.
	Configuration variables: None
*/}}


{{range .CmdArgs}}
	{{- $exec_cc_Answer:= exec "cc" .}}
	{{- $answerLines:= split $exec_cc_Answer "\n"}}

	{{- $extractedCode:= slice $answerLines 2 (sub (len $answerLines) 1)}}
	{{- $firstLine:= index $answerLines 0}}

	{{- if reFind "here is a list of" $firstLine}}
		{{- sendMessage nil (printf "❌ CC `%s` not found" .)}}
	{{- else}}
		{{- sendMessage nil (complexMessage
			"content" $firstLine
			"file" (joinStr "\n" $extractedCode)
		)}}
	{{- end}}
{{else}}
	{{exec "cc"}}
{{end}}
