{{/*
	Clears the AFK status for users who leave the server.
	See <LINK> for more information.

	Author: jo3-l <https://github.com/jo3-l>
*/}}

{{ dbDel .User.ID "afk" }}
{{/* If you already have a leave message, you can put it here. */}}